services:
  postgres:
    image: 'postgres:18-alpine'
    environment:
      - 'POSTGRES_DB=wowo'
      - 'POSTGRES_PASSWORD=wowo@8888'
      - 'POSTGRES_USER=wowo'
    ports:
      - '5432:5432'
  redis:
    image: 'redis:latest'
    ports:
      - '6379:6379'